@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");
@import "tailwindcss";

:root {
  --font-readex: "Readex Pro", sans-serif;
  --shadow: 0px 3px 20px 0px rgb(0 0 0 / 10%);
  --primary-color: #2c6e49;
  --accent-color: #c89c3d;
  --background-color: #f8f9fa;
  --card-background: #ffffff;
  --text-color-dark: #212529;
  --text-color-medium: #495057;
  --text-color-light: #ffffff;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: var(--font-readex);
  }
}
